/* I think the bulls use Rockwell Extra Bold, Arvo works decently for BULLS */
@import url('https://fonts.googleapis.com/css?family=Arvo:700&display=swap');

:root {
  --team-foreground-color: #CE1141;
  --team-background-color: #000;
  --yes-no-font-family: 'Arvo', serif;
  --my-team-font-family: 'Arvo', serif;
  --my-team-font-weight: regular;
}

.myteam { text-transform: uppercase; }
