/* Saira doesn't match the Clippers S but otherwise not bad */
@import url('https://fonts.googleapis.com/css?family=Saira:700&display=swap');

:root {
  --team-foreground-color: #1D428A;
  --team-background-color: #FFF;
  --team-separator-color: #C8102E;
  --yes-no-font-family: 'Saira', sans-serif;
  --my-team-font-family: 'Saira', sans-serif;
}

.myteam { text-transform: uppercase; }
.separator { border-top: 1px solid var(--team-separator-color); }
.awayseparator { border-top: 1px solid var(--team-separator-color); }
