/* TODO TEAM FONT */
@import "https://fonts.googleapis.com/css?family=Quantico&display=swap";

:root {
  --team-foreground-color: #1D428A;
  --team-background-color: #FFF;
  --team-separator-color: #C8102E;
  --yes-no-font-family: 'Quantico', sans-serif;
  --my-team-font-family: 'Quantico', sans-serif;
}

.myteam { text-transform: uppercase; }
.separator { border-top: 1px solid var(--team-separator-color); }
.awayseparator { border-top: 1px solid var(--team-separator-color); }
