/* Jost* from https://github.com/indestructible-type/Jost maintained by Owen Earl */
/* Has that nize sharp Z, not gonna get the G or R right but it's closer than most */
@import url('https://indestructibletype.com/fonts/Jost.css');

:root {
  --team-foreground-color: #5D76A9;
  --team-background-color: #12173F;
  --team-tertiary-color: #F5B112;
  --yes-no-font-family: 'Jost', sans-serif;
  --my-team-font-family: 'Jost', sans-serif;
}

.myteam { text-transform: uppercase; }
/* yellow looks OK for the away color but I think the light blue is more "grizzlies" even though it's a bit subtle */
/*.awayseparator { border-top: 1px solid var(--team-tertiary-color); }
.awaylink a:link, .awaylink a:visited { text-decoration: none; color: var(--team-tertiary-color); }
.awaylink a:hover { border-bottom: 2px solid var(--team-tertiary-color); }*/
