/* hawks use a custom font, bungee isn't really close but it's not too bad */
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

:root {
  --team-foreground-color: #C1D32F;
  --team-background-color: #E03A3E;
  --yes-no-font-family: 'Bungee', cursive;
  --my-team-font-family: 'Bungee', cursive;
  --my-team-font-weight: regular;
}

.myteam { text-transform: uppercase; }
/* for the hawks we'll use their secondary color as if it was the primary color for away games */
.awayseparator { border-top: 1px solid var(--team-background-color); }
.awaylink a:link, .awaylink a:visited { text-decoration: none; color: var(--team-background-color); }
.awaylink a:hover { border-bottom: 2px solid var(--team-background-color); }
