@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700i&display=swap');

:root {
  --team-foreground-color: #98002E;
  --team-background-color: #000;
  --yes-no-font-family: 'Noto Sans', sans-serif;
  --my-team-font-family: 'Noto Sans', sans-serif;
}

.myteam { text-transform: uppercase; }
