/* Jost* from https://github.com/indestructible-type/Jost maintained by Owen Earl */
/* Not gonna find a match for Jazz font let's get those sharp Z corners at least with Jost */
@import url('https://indestructibletype.com/fonts/Jost.css');

:root {
  --team-foreground-color: #F9A01B;
  --team-background-color: #002B5C;
  --yes-no-font-family: 'Jost', sans-serif;
  --my-team-font-family: 'Jost', sans-serif;
}

.myteam { text-transform: uppercase; }
