/* I'm not paying for Bodoni lol */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700i&display=swap');

:root {
  /* I like these reversed as well but I think purple on yellow is more iconic lakers */
  --team-foreground-color: #552583;
  --team-background-color: #FDB927;
  --yes-no-font-family: 'Noto Serif', serif;
  --my-team-font-family: 'Noto Serif', serif;
}

.myteam { text-transform: uppercase; }
.awayseparator { border-top: 1px solid var(--team-background-color); }
.awaylink a:link, .awaylink a:visited { text-decoration: none; color: var(--team-background-color); }
.awaylink a:hover { border-bottom: 2px solid var(--team-background-color); }
