@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

:root {
  --team-foreground-color: #C4CED4;
  --team-background-color: #0077C0;
  --yes-no-font-family: 'Squada One', cursive;
  --my-team-font-family: 'Squada One', cursive;
}

.myteam { text-transform: uppercase; }
.awayseparator { border-top: 1px solid var(--team-background-color); }
.awaylink a:link, .awaylink a:visited { text-decoration: none; color: var(--team-background-color); }
.awaylink a:hover { border-bottom: 2px solid var(--team-background-color); }
