/* Nets font is custom afaik (maybe made by Jay-Z himself!), Asap isn't a bad replacement */
@import url('https://fonts.googleapis.com/css?family=Asap:600&display=swap');

:root {
  --team-foreground-color: #FFF;
  --team-background-color: #000;
  --yes-no-font-family: 'Asap', sans-serif;
  --my-team-font-family: 'Asap', sans-serif;
  --my-team-font-weight: regular;
}

.myteam { text-transform: uppercase; }
.awayseparator { border-top: 1px solid var(--team-background-color); }
.awaylink a:link, .awaylink a:visited { text-decoration: none; color: var(--team-background-color); }
.awaylink a:hover { border-bottom: 2px solid var(--team-background-color); }
