@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');

:root {
  --team-foreground-color: #002D62;
  --team-background-color: #FDBB30;
  --yes-no-font-family: 'Roboto Condensed', sans-serif;
  --my-team-font-family: 'Roboto Condensed', sans-serif;
  --my-team-font-weight: regular;
}

.myteam { text-transform: uppercase; }
.awayseparator { border-top: 1px solid var(--team-background-color); }
.awaylink a:link, .awaylink a:visited { text-decoration: none; color: var(--team-background-color); }
.awaylink a:hover { border-bottom: 2px solid var(--team-background-color); }
