@import url('https://fonts.googleapis.com/css?family=Saira:900&display=swap');

:root {
  --team-foreground-color: #C8102E;
  --team-background-color: #FFF;
  --yes-no-font-family: 'Saira', sans-serif;
  --my-team-font-family: 'Saira', sans-serif;
}

.myteam { text-transform: uppercase; }
