/* TODO TEAM FONT */
@import "https://fonts.googleapis.com/css?family=Quantico&display=swap";

:root {
  --team-foreground-color: #C4CED4;
  --team-background-color: #000;
  --yes-no-font-family: 'Quantico', sans-serif;
  --my-team-font-family: 'Quantico', sans-serif;
}

.myteam { text-transform: uppercase; }
