/* can't match the rounded E but Oswald is otherwise good */
@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap');

:root {
  --team-foreground-color: #FFF;
  --team-background-color: #007AC1;
  --team-tertiary-color: #EF3B24;
  --yes-no-font-family: 'Oswald', sans-serif;
  --my-team-font-family: 'Oswald', sans-serif;
  --my-team-font-weight: regular;
}

.myteam { text-transform: uppercase; }
.awayseparator { border-top: 1px solid var(--team-tertiary-color); }
.awaylink a:link, .awaylink a:visited { text-decoration: none; color: var(--team-tertiary-color); }
.awaylink a:hover { border-bottom: 2px solid var(--team-tertiary-color); }
