/* Jost* from https://github.com/indestructible-type/Jost maintained by Owen Earl */
/* Has that nize sharp W and M and V */
@import url('https://indestructibletype.com/fonts/Jost.css');

:root {
  --team-foreground-color: #236192;
  --team-background-color: #0C2340;
  --yes-no-font-family: 'Jost', sans-serif;
  --my-team-font-family: 'Jost', sans-serif;
}

.myteam { text-transform: uppercase; }
