/* the warriors don't use copperplate anymore since the June 2019 rebrand
 * but I don't have a good equivalent for the new custom font*/
@import "https://use.typekit.net/qsy2ofg.css"; /* importing copperplate */

:root {
  --team-foreground-color: #FFC72C;
  --team-background-color: #1D428A;
  --yes-no-font-family: copperplate;
  --my-team-font-family: copperplate;
}

.myteam { text-transform: uppercase; }
